*/__*
data/scorecard/*
data/finances/*
paper/*.aux
paper/*.log
paper/*.out
paper/*.synctex.gz
*.csv
*.swp
*.swo
*_test.csv
*_train.csv
!data/finances/data_dict.csv
!data/scorecard/data_dictionary.yaml
*.npy
